* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #202122;
}

/* Header */

header {
    position: fixed;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #202122;
}