* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #202122;
}

/* Header */

header {
    position: fixed;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #202122;
    z-index: 100; 
}

nav {
    width: 94%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav h1 a {
    text-decoration: none;
    color: #e9ff74;
    font-size: 2rem;
    font-family: 'Libre Baskerville', serif;
}

nav ul {
    display: flex;
    width: 50%;
    list-style: none;
    justify-content: space-around;
}

.list-item a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    font-family: 'Kanit', sans-serif;
}


@media only screen and (max-width: 480px) {
    nav h1 a {
        font-size: 1.3rem;
    }
    
    .list-item a {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 481px) and (max-width: 500px) {
    nav h1 a {
        font-size: 1.5rem;
    }
    
    .list-item a {
        font-size: 1.3rem;
    }
}


@media only screen and (min-width: 501px) and (max-width: 600px) {
    nav h1 a {
        font-size: 1.6rem;
    }
    
    .list-item a {
        font-size: 1.4rem;
    }
}


@media only screen and (min-width: 601px) and (max-width: 768px) {
    nav h1 a {
        font-size: 1.8rem;
    }
    
    .list-item a {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 769px) and (max-width: 900px) {
    nav h1 a {
        font-size: 1.9rem;
    }
    
    .list-item a {
        font-size: 1.6rem;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1024px) {
    nav h1 a {
        font-size: 2rem;
    }
    
    .list-item a {
        font-size: 1.7rem;
    }
}


@media only screen and (min-width: 1025px) and (max-width: 1800px) {
    nav h1 a {
        font-size: 2rem;
    }
    
    .list-item a {
        font-size: 1.7rem;
    }
}









/* Main - home */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}

#home {
    width: 94%;
    min-height: calc(100vh - 130px);
    background-color: #CCEEBC;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    text-align: center;
    margin-top: 80px;
    white-space: nowrap;
    scroll-margin-top: 100px;
    margin-bottom: 70px;
}


#home h2 {
    font-size: 3.1rem;
    color: black;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 4rem;
    padding-left: 10px;
    padding-right: 10px;
}

#home p {
    font-size: 1.6rem;
    color: black;
    font-family: 'Poppins', sans-serif;
    white-space: normal; /* Allow line breaks */
    padding-left: 12px;
    padding-right: 12px;
}


@media only screen and (max-width: 480px) {

    #home {
        min-height: calc(100vh - 200px);
        margin-bottom: 115px;
    }

    #home h2 {
      font-size: 1.6rem;
      white-space: normal; /* Allow line breaks */
    }

    #home p {
        font-size: .9rem;
        white-space: normal; /* Allow line breaks */
    }
}


@media only screen and (min-width: 481px) and (max-width: 500px) {

    #home h2 {
      font-size: 2rem;
      white-space: normal; /* Allow line breaks */
    }

    #home p {
        font-size: 1rem;
        white-space: normal; /* Allow line breaks */
    }
}

@media only screen and (min-width: 501px) and (max-width: 600px) {

    #home h2 {
      font-size: 2.1rem;
      white-space: normal; /* Allow line breaks */
    }

    #home p {
        font-size: 1.1rem;
        white-space: normal; /* Allow line breaks */
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {

    #home h2 {
      font-size: 2.4rem;
      white-space: normal; /* Allow line breaks */
    }

    #home p {
        font-size: 1.2rem;
        white-space: normal; /* Allow line breaks */
    }
}


@media only screen and (min-width: 769px) and (max-width: 900px) {

    #home h2 {
      font-size: 2.5rem;
      white-space: normal; /* Allow line breaks */
    }

    #home p {
        font-size: 1.3rem;
        white-space: normal; /* Allow line breaks */
    }
}


@media only screen and (min-width: 901px) and (max-width: 1024px) {

    #home h2 {
      font-size: 2.6rem;
      white-space: normal; /* Allow line breaks */
    }

    #home p {
        font-size: 1.4rem;
        white-space: normal; /* Allow line breaks */
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1800px) {

    #home h2 {
        font-size: 2.7rem;
        white-space: normal; /* Allow line breaks */
    }
  
    #home p {
        font-size: 1.5rem;
        white-space: normal; /* Allow line breaks */
    }
}





/* Main - savings */

#savings {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    scroll-margin-top: 110px;
}

#savings-wordings {
    color: white;
    display: flex;
    flex-direction: column;
    width: 94%;
    margin-bottom: 40px;
}

#savings-wordings h3 {
    font-size: 2.1rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5px;
}

#savings-wordings p {
    font-size: 1.2rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}


@media only screen and (max-width: 480px) {

    #savings {
        width: 94%;
    }

    #savings-wordings h3 {
      font-size: 1.2rem;
      white-space: normal; /* Allow line breaks */
    }

    #savings-wordings p {
        font-size: .8rem;
        white-space: normal; /* Allow line breaks */
    }
}

@media only screen and (min-width: 481px) and (max-width: 500px) {

    #savings {
        width: 94%;
    }

    #savings-wordings h3 {
      font-size: 1.3rem;
      white-space: normal; /* Allow line breaks */
    }

    #savings-wordings p {
        font-size: .9rem;
        white-space: normal; /* Allow line breaks */
    }
}

@media only screen and (min-width: 501px) and (max-width: 600px) {

    #savings {
        width: 94%;
    }

    #savings-wordings h3 {
      font-size: 1.4rem;
      white-space: normal; /* Allow line breaks */
    }

    #savings-wordings p {
        font-size: 1rem;
        white-space: normal; /* Allow line breaks */
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {

    #savings {
        width: 94%;
    }

    #savings-wordings h3 {
      font-size: 1.5rem;
      white-space: normal; /* Allow line breaks */
    }

    #savings-wordings p {
        font-size: 1.1rem;
        white-space: normal; /* Allow line breaks */
    }
}

@media only screen and (min-width: 769px) and (max-width: 900px) {

    #savings {
        width: 94%;
    }

    #savings-wordings h3 {
      font-size: 1.6rem;
      white-space: normal; /* Allow line breaks */
    }

    #savings-wordings p {
        font-size: 1.2rem;
        white-space: normal; /* Allow line breaks */
    }
}


@media only screen and (min-width: 901px) and (max-width: 1024px) {

    #savings {
        width: 94%;
    }

    #savings-wordings h3 {
      font-size: 1.7rem;
      white-space: normal; /* Allow line breaks */
    }

    #savings-wordings p {
        font-size: 1.3rem;
        white-space: normal; /* Allow line breaks */
    }
}


@media only screen and (min-width: 1025px) and (max-width: 1800px) {

    #savings {
        width: 94%;
    }

    #savings-wordings h3 {
      font-size: 1.7rem;
      white-space: normal; /* Allow line breaks */
    }

    #savings-wordings p {
        font-size: 1.3rem;
        white-space: normal; /* Allow line breaks */
    }
}









/* Main - banks-list */

#banks-list {
    background-color: #CCEEBC;
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 1fr 2fr 2fr 1fr 1fr;
    text-align: center;
    border-radius: 30px;
}

#banks-list > div {
    border-bottom: 1px solid #202122;

}

.banks-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.banks-header p {
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
}

.bank-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.bank-header p {
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    margin-right: 5px;
}

.banks-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7px;
    padding-bottom: 7px;
}

.banks-logo img {
    width: 25%;
    height: auto;
}


.banks-savings {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
}

.banks-interest {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;  
}


.expand-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
}

.interest-details {
    display: none;
    grid-column: 1 / span 4; /* Cover all five columns */
    position: relative;
    width: 100%;
}

.interest-details.visible {
    display: flex;
    padding-left: 87px;
    padding-top: 10px;
    padding-bottom: 18px;
}

.details-header {
    text-align: left;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 5px;
}

.interest-details ul li {
    text-align: left;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}


.expand-button-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
}

.fa-chevron-up:hover,
.fa-chevron-down:hover {
    cursor: pointer;
}

.key-features {
    display: none;
    grid-column: 1 / span 5; /* Cover all five columns */
    position: relative;
    width: 100%;
}

.key-features.visible {
    display: flex;
    padding-left: 87px;
    padding-top: 10px;
    padding-bottom: 18px;
}

.key-features ul li {
    text-align: left;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}


.update {
    display: flex;
    width: 98%;
    justify-content: flex-end;
    align-items: center;
}

.update i {
    font-size: .9rem;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-top: 5px;
}



@media only screen and (max-width: 480px) {
    .banks-header p {
      font-size: .7rem;
      white-space: normal; /* Allow line breaks */
      justify-content: center;
    }

    .bank-header p {
        font-size: .6rem;
        white-space: normal; /* Allow line breaks */
        justify-content: center;
    }

    .banks-logo img {
        min-width: 70%;
        height: auto;
    }

    .banks-savings {
        font-size: .6rem;
        white-space: normal; /* Allow line breaks */
    }

    .banks-interest {
        font-size: .6rem;
        white-space: normal; /* Allow line breaks */
    }

    .expand-button {
        font-size: .7rem;
    }

    .expand-button-2 {
        font-size: .7rem;
    }

    .interest-details.visible {
        display: flex;
        padding-left: 24px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom: 18px;
    }

    .interest-details ul p {
        font-size: .6rem;
    }

    .interest-details ul li {
        font-size: .6rem;
    }

    .key-features ul li {
        font-size: .6rem;
    }

    .key-features.visible {
        display: flex;
        padding-left: 24px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom: 18px;
    }

    .update i {
        font-size: .6rem;
    }
}


@media only screen and (min-width: 481px) and (max-width: 500px) {

    .banks-header p {
      font-size: .9rem;
      white-space: normal; /* Allow line breaks */
      justify-content: center;
    }

    .bank-header p {
        font-size: .8rem;
        white-space: normal; /* Allow line breaks */
        justify-content: center;
    }

    .banks-logo img {
        min-width: 70%;
        height: auto;
    }

    .banks-savings {
        font-size: .8rem;
        white-space: normal; /* Allow line breaks */
    }

    .banks-interest {
        font-size: .8rem;
        white-space: normal; /* Allow line breaks */
    }

    .expand-button {
        font-size: .8rem;
    }

    .expand-button-2 {
        font-size: .8rem;
    }

    .interest-details.visible {
        display: flex;
        padding-left: 27px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom: 18px;
    }

    .interest-details ul p {
        font-size: .7rem;
    }

    .interest-details ul li {
        font-size: .7rem;
    }

    .key-features ul li {
        font-size: .7rem;
    }

    .key-features.visible {
        display: flex;
        padding-left: 27px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom: 18px;
    }

    .update i {
        font-size: .7rem;
    }
}



@media only screen and (min-width: 501px) and (max-width: 600px) {

    .banks-header p {
      font-size: 1rem;
      white-space: normal; /* Allow line breaks */
      justify-content: center;
    }

    .bank-header p {
        font-size: .9rem;
        white-space: normal; /* Allow line breaks */
        justify-content: center;
    }

    .banks-logo img {
        min-width: 60%;
        height: auto;
    }

    .banks-savings {
        font-size: .9rem;
        white-space: normal; /* Allow line breaks */
    }

    .banks-interest {
        font-size: .9rem;
        white-space: normal; /* Allow line breaks */
    }

    .expand-button {
        font-size: .9rem;
    }

    .expand-button-2 {
        font-size: .9rem;
    }

    .interest-details.visible {
        display: flex;
        padding-left: 32px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom: 18px;
    }

    .interest-details ul p {
        font-size: .8rem;
    }

    .interest-details ul li {
        font-size: .8rem;
    }

    .key-features ul li {
        font-size: .8rem;
    }

    .key-features.visible {
        display: flex;
        padding-left: 32px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom: 18px;
    }

    .update i {
        font-size: .8rem;
    }
}


@media only screen and (min-width: 601px) and (max-width: 768px) {

    .banks-header p {
      font-size: 1.1rem;
      white-space: normal; /* Allow line breaks */
      justify-content: center;
    }

    .bank-header p {
        font-size: 1rem;
        white-space: normal; /* Allow line breaks */
        justify-content: center;
    }

    .banks-logo img {
        min-width: 60%;
        height: auto;
    }

    .banks-savings {
        font-size: 1rem;
        white-space: normal; /* Allow line breaks */
    }

    .banks-interest {
        font-size: 1rem;
        white-space: normal; /* Allow line breaks */
    }

    .expand-button {
        font-size: 1rem;
    }

    .expand-button-2 {
        font-size: 1rem;
    }

    .interest-details.visible {
        display: flex;
        padding-left: 40px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom: 18px;
    }

    .interest-details ul p {
        font-size: .9rem;
    }

    .interest-details ul li {
        font-size: .9rem;
    }

    .key-features ul li {
        font-size: .9rem;
    }

    .key-features.visible {
        display: flex;
        padding-left: 40px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom: 18px;
    }

    .update i {
        font-size: .9rem;
    }
}


@media only screen and (min-width: 769px) and (max-width: 900px) {

    .banks-header p {
        font-size: 1.2rem;
        white-space: normal; /* Allow line breaks */
        justify-content: center;
    }
  
    .bank-header p {
        font-size: 1.1rem;
        white-space: normal; /* Allow line breaks */
        justify-content: center;
    }
  
    .banks-logo img {
        min-width: 50%;
        height: auto;
    }
  
    .banks-savings {
        font-size: 1.1rem;
        white-space: normal; /* Allow line breaks */
    }
  
    .banks-interest {
        font-size: 1.1rem;
        white-space: normal; /* Allow line breaks */
    }
  
    .expand-button {
        font-size: 1.1rem;
    }
  
    .expand-button-2 {
        font-size: 1.1rem;
    }
  
    .interest-details.visible {
        display: flex;
        padding-left: 50px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom: 18px;
    }
  
    .interest-details ul p {
        font-size: 1rem;
    }
  
    .interest-details ul li {
        font-size: 1rem;
    }
  
    .key-features ul li {
        font-size: 1rem;
    }
  
    .key-features.visible {
        display: flex;
        padding-left: 50px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom: 18px;
    }
  
    .update i {
        font-size: 1rem;
    }

}
  
  
@media only screen and (min-width: 901px) and (max-width: 1024px) {

    .banks-header p {
        font-size: 1.2rem;
        white-space: normal; /* Allow line breaks */
        justify-content: center;
    }
  
    .bank-header p {
        font-size: 1.1rem;
        white-space: normal; /* Allow line breaks */
        justify-content: center;
    }
  
    .banks-logo img {
        min-width: 30%;
        height: auto;
    }
  
    .banks-savings {
        font-size: 1.1rem;
        white-space: normal; /* Allow line breaks */
    }
  
    .banks-interest {
        font-size: 1.1rem;
        white-space: normal; /* Allow line breaks */
    }
  
    .expand-button {
        font-size: 1.1rem;
    }
  
    .expand-button-2 {
        font-size: 1.1rem;
    }
  
    .interest-details.visible {
        display: flex;
        padding-left: 65px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom: 18px;
    }
  
    .interest-details ul p {
        font-size: 1rem;
    }
  
    .interest-details ul li {
        font-size: 1rem;
    }
  
    .key-features ul li {
        font-size: 1rem;
    }
  
    .key-features.visible {
        display: flex;
        padding-left: 65px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom: 18px;
    }
  
    .update i {
        font-size: 1rem;
    }

}


@media only screen and (min-width: 1025px) and (max-width: 1800px) {

    .banks-header p {
        font-size: 1.3rem;
        white-space: normal; /* Allow line breaks */
        justify-content: center;
    }
  
    .bank-header p {
        font-size: 1.2rem;
        white-space: normal; /* Allow line breaks */
        justify-content: center;
    }
  
    .banks-logo img {
        min-width: 30%;
        height: auto;
    }
  
    .banks-savings {
        font-size: 1.2rem;
        white-space: normal; /* Allow line breaks */
    }
  
    .banks-interest {
        font-size: 1.2rem;
        white-space: normal; /* Allow line breaks */
    }
  
    .expand-button {
        font-size: 1.2rem;
    }
  
    .expand-button-2 {
        font-size: 1.2rem;
    }
  
    .interest-details.visible {
        display: flex;
        padding-left: 80px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom: 18px;
    }
  
    .interest-details ul p {
        font-size: 1.1rem;
    }
  
    .interest-details ul li {
        font-size: 1.1rem;
    }
  
    .key-features ul li {
        font-size: 1.1rem;
    }
  
    .key-features.visible {
        display: flex;
        padding-left: 80px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom: 18px;
    }
  
    .update i {
        font-size: 1rem;
    }

}














/* footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-content {
    background-color: #202122;
    border-radius: 30px;
    width: 94%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: column;
    border: 1px solid #e9ff74;
}

#footer-content p {
    font-size: 1.2rem;
    color: white;
    font-family: 'Kanit', sans-serif;
    white-space: normal; /* Allow line breaks */
    padding-left: 12px;
    padding-right: 12px;
}

#lemoneyd-link {
    color: #e9ff74;
}


@media only screen and (max-width: 480px) {

    #footer-content p {
        font-size: .7rem;
        white-space: normal; /* Allow line breaks */
    }
}

@media only screen and (min-width: 481px) and (max-width: 500px) {

    #footer-content p {
        font-size: .9rem;
        white-space: normal; /* Allow line breaks */
    }
}

@media only screen and (min-width: 501px) and (max-width: 600px) {

    #footer-content p {
        font-size: 1rem;
        white-space: normal; /* Allow line breaks */
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {

    #footer-content p {
        font-size: 1.1rem;
        white-space: normal; /* Allow line breaks */
    }
}

@media only screen and (min-width: 769px) and (max-width: 900px) {

    #footer-content p {
        font-size: 1.2rem;
        white-space: normal; /* Allow line breaks */
    }
}

@media only screen and (min-width: 901px) and (max-width: 1024px) {

    #footer-content p {
        font-size: 1.3rem;
        white-space: normal; /* Allow line breaks */
    }
}


@media only screen and (min-width: 1025px) and (max-width: 1800px) {

    #footer-content p {
        font-size: 1.3rem;
        white-space: normal; /* Allow line breaks */
    }
}